<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.shtml" />
            </files>
        </defaultDocument>
        <!-- directoryBrowse enabled="true" / -->
        <!-- <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="WWW Server" areas="Rewrite,RequestRouting" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="500" />
                </add>
            </traceFailedRequests>
        </tracing> -->
        <staticContent>
            <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
        </staticContent>
        <!-- httpErrors errorMode="Detailed" error=""/ -->
		<httpErrors existingResponse="PassThrough" errorMode="Custom">
		  <!-- PassThrough will allow .NET errors to be shown in response, Replace will be used in production to use the following custom paths instead -->
		  <clear />
		  <remove statusCode="403" subStatusCode="-1" />
		  <error statusCode="403" subStatusCode="-1" responseMode="Redirect" path="https://pw.lacounty.gov/lib/errors/error.html" />
		  <remove statusCode="404" subStatusCode="-1" />
		  <error statusCode="404" subStatusCode="-1" responseMode="Redirect" path="https://pw.lacounty.gov/lib/errors/error.html" />
		  <remove statusCode="500" subStatusCode="-1" />
		  <error statusCode="500" subStatusCode="-1" responseMode="Redirect" path="https://pw.lacounty.gov/lib/errors/error.html" />
		</httpErrors>

		<rewrite>
			<rules>
			 <rule name="Redirect to https" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
				<match url="*" negate="false" />
				<conditions logicalGrouping="MatchAny">
					<add input="{HTTPS}" pattern="off" />
				</conditions>
				<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Temporary" appendQueryString="false" />
			</rule>
			<rule name="Redirect to pw" enabled="true">
			  <match url="(.*)" />
			  <conditions>
				<add input="{HTTP_HOST}" pattern="^dpw\.lacounty\.gov$" />
			  </conditions>
			  <action type="Redirect" url="https://pw.lacounty.gov{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
			</rule>
            <rule name="Shtml Remove Rule" stopProcessing="true">
                <match url="^(.*)$" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    <add input="{REQUEST_FILENAME}.shtml" matchType="IsFile" ignoreCase="false" />
                </conditions>
                <action type="Rewrite" url="{R:1}.shtml" />
            </rule>				
		   </rules>
		</rewrite>
		
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="X-UA-Compatible" value="IE=edge" />
				<remove name="Content-Security-Policy"></remove>
					<add name="Content-Security-Policy" value="default-src 'self' 'unsafe-inline' 'unsafe-eval' https://lacounty.maps.arcgis.com/ pwbc04 www.youtube-nocookie.com dpw.lacounty.gov pw.lacounty.gov apps.intranet https://fonts.googleapis.com https://translate.google.com https://translate.googleapis.com https://ssl.google-analytics.com; connect-src 'self';
					img-src 'self' data: https://ssl.google-analytics.com https://www.gstatic.com; 
					frame-ancestors 'none'; 
					font-src 'self' data: https://dpw.lacounty.gov https://pw.lacounty.gov https://fonts.gstatic.com;" />
			</customHeaders>

		</httpProtocol>		

    </system.webServer>            	
</configuration>
